
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: left;
 font-family: 'Reenie Beanie', cursive;


}
li {
 text-align: left;
 font-family: 'Reenie Beanie', cursive;
}

.work-experience-header {
 text-align: left;
 font-size: 20px;
 font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}

h1 {
margin: auto
}

.canvas {

height:20%;
}

.hidden {
display:none;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  //height: 300px; /* Should be removed. Only for demonstration */
}

.sticky {
  float: left;
  width: 200px;
  padding: 10px;
  //height: 300px; /* Should be removed. Only for demonstration */
}

.column-fillremainder {
  float: left;
  width: 100%;
  padding: 10px;
  //height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
canvas.dotted {border-style: dotted}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
